          <h1>Deployed Jenkins with Inflxu</h1>
          <p class="lead"> We did stuff...</p>

          <table class="table table-striped">

            <thead>
              <tr>
                <th>Task</th>
                <th>Raw Output</th>
              </tr>
            </thead>
            <tbody>
              <ul class="list-group">
              <tr>
                <th scope="row">Deploying Jenkins</th>
                <td> <li class="list-group-item">
                  {% for o1 in out1 %}
                    <p>  {{ o1 }} </p>
                  {% endfor %}

                </li></td>
                </tr>
              <tr>
                <th scope="row">Expose Jenkins Service</th>
                <td> <li class="list-group-item">{{ out2 }}</li></td>
              </tr>
              <tr>
                <th scope="row">Get Jenkins Route</th>
                <td> <li class="list-group-item">{{ out3 }}</li></td>
              </tr>
              <tr>
                <th scope="row">Next Steps</th>
                <td> <li class="list-group-item">
                  {% for o1 in out4 %}
                    <p>  {{ o1 }} </p>
                  {% endfor %}

                </li></td>
              </tr>
              <tr>
                <th scope="row">Influx Endpoint</th>
                <td> <li class="list-group-item">{{ out5 }}</li></td>
              </tr>
            </tbody>
            </ul>

          </table>


          <tr><a href="/"><button type="button" class="btn btn-primary btn-lg btn-block" href="/">Return Home</button></a></tr>
