
{% include 'header.html' %}

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Apache</li>
      </ol>
      <!-- MAIN BODY STARTS HERE -->
      <div class="container">
      <div class="card mx-auto mt-10">
        <div class="card-header">Apache Info</div>
        <div class="card-body">
          <form action = "/deployapache_stg1" method = "POST">
              <div class="form-group">
                <label for="apacheURL">Apache System URL</label>
                <input name="apacheURL" type="text" class="form-control" id="apacheURL" placeholder="http://localhost/server-status?auto">
              </div>
              <div class="form-group">
                <label for="apacheUID">Apache Username</label>
                <input name="apacheUID" type="text" class="form-control" id="apacheUID" placeholder="apacheUID">
              </div>
              <div class="form-group">
              <label for="apachePID">Apache Password</label>
              <input name="apachePID" type="password" class="form-control" id="apachePID" placeholder="apachePID">
            </div>
            <div class="form-group">
            <label for="apacheID">Short Name for Server</label>
            <input name="apacheID" type="text" class="form-control" id="apacheID" placeholder="apacheID">
          </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
{% include 'footer.html' %}
