{% include 'header.html' %}
    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">JIRA Collector</li>
      </ol>
      <!-- MAIN BODY STARTS HERE -->
      <div class="container-fluid">

        <div class="card-header">Deploy JIRA Components</div>
        <div class="card-body">
          <h3>
            Deploy JIRA Poller
            <br><br>
            <small class="text-muted"> </small>
          </h3>
            <ul class="list-unstyled">
          <li>The following operation will:
              <ul>
              <li>Your JIRA URL</li>
              <li>JIRA Username</li>
              <li>JIRA Password</li>
              <li>JIRA Query [ example provided ] </li>
              </ul>
          </li>
        </ul>
        <a class="btn btn-primary" href="/jirainfo" role="button">Deploy</a>
        </div>

    </div>



      <!-- MAIN BODY ENDS HERE -->
    </div>


{% include 'footer.html' %}
