------ Copy Below Here ----
"queries": [
        {
          "tags": {
            "entity":"test",
            "status":"all"
          },
          "jql": "project = TEST"
        },
        {
          "tags": {
            "entity":"test",
            "status":"todo"
          },
          "jql": "project = TEST and status = 'To Do'"
        },
        {
          "tags": {
            "entity":"test",
            "status":"in_progress"
          },
          "jql": "project = TEST and status = 'In Progress'"
        },
        {
          "tags": {
            "entity":"test",
            "status":"done"
          },
          "jql": "project = TEST and status = 'Done'"
        }
      ]

---- To Here ----
