          <h1>Core Components Deployed</h1>
          <p class="lead"> We did stuff...</p>

          <table class="table table-striped">

            <thead>
              <tr>
                <th>Task</th>
                <th>Raw Output</th>
              </tr>
            </thead>
            <tbody>
              <ul class="list-group">
              <tr>
                <th scope="row">Deploy Project</th>
                <td>
                <li class="list-group-item">
                  {% for o1 in out1 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
                <li class="list-group-item">
                  {% for o1 in out2 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
              </td>
              </tr>
              <tr>
                <th scope="row">Setting Security</th>
                <td>
                <li class="list-group-item">
                  {% for o1 in out3 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
                <li class="list-group-item">
                  {% for o1 in out4 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
              </td>
              </tr>
              <tr>
                <th scope="row">Deploying Grafana and Tuning</th>
                <td>
                <li class="list-group-item">
                  {% for o1 in out5 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
                <li class="list-group-item">
                  {% for o1 in out6 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
                <li class="list-group-item">
                  {% for o1 in out7 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
                <li class="list-group-item">
                  {% for o1 in out8 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
              </td>
              </tr>
              <tr>
                <th scope="row">Deploying InfluxDB and Tuning</th>
                <td>
                  <li class="list-group-item">
                    {% for o1 in out9 %}
                    <p>  {{ o1 }} </p>
                    {% endfor %}
                  </li>
                <li class="list-group-item">
                  {% for o1 in out10 %}
                  <p>  {{ o1 }} </p>
                  {% endfor %}
                </li>
              </td>
              </tr>

            </tbody>
            </ul>

          </table>


          <tr><a href="/"><button type="button" class="btn btn-primary btn-lg btn-block" href="/">Return Home</button></a></tr>
