<table class="table table-bordered" id="Status" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th> <div class="card-header">
          <i class="fa fa-bell-o"></i>Status</div>
      </th>
  </tr>
  </thead>
  <tbody>
    <tr><td>
        <a class="list-group-item list-group-item-action" href="#">
          <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
          <div class="media-body">
            <strong>System: </strong> {{ endpoint }}
          </div>
          </div>
        </a>
    </td></tr>
    <tr><td>
        <a class="list-group-item list-group-item-action" href="#">
          <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
          <div class="media-body">
            <strong>User: </strong> {{ whoami }}
          </div>
          </div>
        </a>
    </td></tr>
    <tr><td>
        <a class="list-group-item list-group-item-action" href="#">
          <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
          <div class="media-body">
            <strong>Project: </strong> {{ project }}
          </div>
          </div>
        </a>
    </td></tr>
    <tr><td>
        <a class="list-group-item list-group-item-action" href="#">
          <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
          <div class="media-body">
            <strong>Cluster Version: </strong> {{ version }}
          </div>
          </div>
        </a>
    </td></tr>
    <tr><td>
        <a class="list-group-item list-group-item-action" href="#">
          <div class="media">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
          <div class="media-body">
            <strong>Change Project</strong>
          </div>
          </div>
        </a>
    </td></tr>
</tbody>
</table>
